<div class="nav">
  <a class="logo"><span class="thin">Workout</span>App</a>

  <div class="link-group">
    <%= link_to "Login" %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Find Workouts", workout_plans_path %>
    <%= link_to "Create Workouts" %>
  </div>
</div>
