<div class="container">
  <div class="hero">
  </div>
    <div class="home-second-section">
      <div class="how-it-works">
        <span class="how-it-works-copy">How it works</span>
        <div class="how-it-works-border">

        </div>
      </div>
    </div>
</div>
