<div class="container">
  <div class="hero">
  </div>
  <div class="home-info-section">
    <div class="how-it-works">
      <span class="how-it-works-copy">How it works</span>
      <div class="how-it-works-border"></div>
    </div>
    <%= image_tag('lock.png') %>
    <div class="how-it-works">
      <span class="how-it-works-copy-md">Follow or Create <br /> Workouts</span>
    </div>
    <%= image_tag('lock.png', class: "padding-top-60px") %>
    <div class="how-it-works">
      <span class="how-it-works-copy-md">Follow plans created <br /> by the community</span>
    </div>
    <span class="how-it-works-copy-body">
      Use our simple app on<br /> the go to complete workout <br /> plans that suit you
    </span>
    <span class="how-it-works-link padding-top-10px">
      Lose chicho now
    </span>
    <%= image_tag('lock.png', class: "padding-top-60px") %>
    <div class="how-it-works">
      <span class="how-it-works-copy-md">Follow plans created <br /> by the community</span>
    </div>
    <span class="how-it-works-copy-body">
      Use our simple app on<br /> the go to complete workout <br /> plans that suit you
    </span>
    <span class="how-it-works-link padding-top-10px">
      Lose chicho now
    </span>
  </div>



  <div class="home-image-section">
    <div class="home-image-row">
      <div class="box-1">
        <div class="home-box-overlay">
          <span class="home-box-cta">Most popular</span>
          <span class="home-box-copy">See the most popular and highest ranked plans</span>
        </div>
      </div>
      <div class="box-2">
        <div class="home-box-overlay">
          <span class="home-box-cta">Most popular</span>
          <span class="home-box-copy">See the most popular and highest ranked plans</span>
        </div>
      </div>
    </div>
    <div class="home-image-row">
      <div class="box-3">
        <div class="home-box-overlay">
          <span class="home-box-cta">Most popular</span>
          <span class="home-box-copy">See the most popular and highest ranked plans</span>
        </div>
      </div>
      <div class="box-4">
        <div class="home-box-overlay">
          <span class="home-box-cta">Most popular</span>
          <span class="home-box-copy">See the most popular and highest ranked plans</span>
        </div>
      </div>
    </div>
  </div>



  <div class="home-final-cta-section padding-100px">
    <span class="home-large-cta-copy">Join Now</span>
    <span class="how-it-works-copy-body padding-top-10px">
      Use our simple app on<br /> the go to complete workout <br /> plans that suit you
    </span>
    <div class="home-button margin-top-25px">Sign Up</div>
  </div>
</div>
