@import 'helpers/*',
        'partials/nav.scss',
        'workout_plans.scss';
body {
  margin: 0;
}

.site-wrap {
  width: 100%;
}

.container {
  width: 100%;
}
.content-container {
  padding: 100px 25px 25px;
}
.hero {
  height: 100vh;
  background: image-url('running.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(3px);
}

.section-title {
  @include primary-font(35px);
  text-decoration: underline;
  // border-bottom: 3px solid $midnight;
}
