@import 'helpers/*', 'partials/*', 'workout_plans', 'workouts', 'workout_sets', 'home', 'devise';

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.padding-bottom-60px {
  padding-bottom: 60px;
}

.padding-top-60px {
  padding-top: 60px;
}
.padding-100px {
  padding: 100px 0;
}

.padding-top-10px {
  padding-top: 10px;
}

.site-wrap {
  width: 100%;
}

.container {
  width: 100%;
}

.nav-bar-spacer {
  padding-top: 61px;
}

.content-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-title {
  @include primary-font(35px);
  text-decoration: underline;
  // border-bottom: 3px solid $midnight;
}


.primary-copy {
  @include secondary-font(15px);
}


.crumbs-link {
  @include primary-font(18);
  color: $secondary;

  .crumbs-active {
    color: $primary;
    text-decoration: underline;
  }

  a {
    color: $secondary;
    text-decoration: none;
  }
}

.primary-button {
  @include primary-font(15px);
  background-color: $primary;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  width: 180px;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 222, 97, 0.8);
  }
}

.secondary-button {
  @include primary-font(15px);
  background-color: $secondary;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  width: 180px;
  margin-bottom: 25px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
  }
}



.secondary-button-div {
  @include primary-font(18px);
  background-color: $secondary;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  width: 180px;
  margin-bottom: 25px;
}

.notifications {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  @include primary-font(18px);
  border: 1px solid #ccc;
  width: 95%;
  margin: 0 auto;
  margin-top: 25px;
  height: 50px;
  text-align: center;

  .notification-message {
    padding-left: 25px;
  }

  .close-notification {
    cursor: pointer;
    padding-right: 25px;
  }
}

.margin-top-25px {
  margin-top: 25px;
}

.margin-25px {
  margin: 25px 0;
}

.padding-top-25px {
  padding-top: 25px;
}

.padding-bottom-25px {
  padding-bottom: 25px;
}
