@import 'helpers/*',
        'partials/nav.scss';
body {
  margin: 0;
}

.site-wrap {
  width: 100%;
}

.container {
  width: 100%;
}
.content-container {
  padding-top: 100px;
}
.hero {
  height: 100vh;
  background: image-url('running.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(3px);
}
