.workout-day-box {
  @include primary-font(22px);
  @include display(flex);
  @include flex-direction(row);
  background-color: white;
  border-left: 5px solid $primary;
  margin-bottom: 25px;

  &:hover {
    border-left: 6px solid $primary;
  }

}

.workout-day-box-uncompleted {
  border-left: 5px solid $secondary;

  &:hover {
    border-left: 6px solid $secondary;
  }
}

.workout-box-left {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  padding: 25px;
  width: 70%;
}

.workout-box-status {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  font-size: 25px;
  border-left: 1px solid $secondary;
  width: 30%;
  color: $primary;

  img {
    width: 30px;
  }
}

.workout-box-status-uncompleted {
  color: $secondary;
}

.workout-name {
  padding-left: 25px;
}

.workout-image {
  margin-top: 25px;
  width: 100%;

  img {
    width: 100%;
  }
}

.workout-summary {
  @include secondary-font(15px);
  padding: 10px 0;
  font-style: italic;
  color: $secondary;
}

.workout-description {
  @include secondary-font(15px);
}

.workout-stats {
  @include primary-font(15px);
  color: $primary;
  padding: 10px 0 25px;
}


.workout-edit {
  padding-top: 5px;
  @include primary-font(15px);
  color: $secondary;
}
