.set-header {
  width: 100%;
  background-color: $primary;
  color: white;
    padding: 25px 0px;
}

.set-workout-name {
  @include primary-font(25px);
  color: white;
  text-decoration: underline;
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
}

.set-workout-info {
  @include primary-font(18px);
  color: white;
  padding-left: 25px;
}

.set-box-container {
  padding: 25px;
  max-width: 600px;
  margin: auto;
}

.set-box {
  @include primary-font(22px);
  @include display(flex);
  @include flex-direction(row);
  border-top: 1px solid $secondary;
  border-right: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  border-left: 5px solid $secondary;
  margin-top: 25px;
}
.set-box-left {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  padding: 25px;
  width: 70%;
}

.set-amount {
  font-size: 27px;
}

.set-name {
  padding-left: 25px;
}

.set-complete {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  font-size: 25px;
  border-left: 1px solid $secondary;
  width: 30%;
  color: $secondary;
}

.set-button-container {
  padding: 0 25px 25px;
}

.set-button {
  background-color: $secondary;
  padding: 25px 0;
  text-align: center;
  @include primary-font(22px);
  color: white;
  max-width: 600px;
  margin: auto;
}
