.plans-container {
  @include display(flex);
  @include justify-content(space-around);
  padding-bottom: 25px;
}

.plan-type-heading {
  text-align: center;
  @include primary-font(36px);
  padding-bottom: 20px;
}

.split-container {
  width: 45%;
  @include display(flex);
  @include flex-direction(column);
}

.plan-container {
  margin-bottom: 25px;
  @include display(flex);
  @include flex-direction(column);
  background-color: white;
}

.plan-image {
  width: 100%;
  img {
    width: 100%;
  }
}

.plan-content {
  @include display(flex);
  @include flex-direction(column);
  width: 100%;
}
.plan-name {
  @include primary-font(25px);
  text-align: center;
  padding-top: 35px;
}
.plan-description {
  @include secondary-font(15px);
  padding: 35px 50px;
  text-align: center;
  color: $secondary;
}

.plan-stats {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-around);
  height: 90px;
  background-color: $primary;
}

.plan-stat-info-container {
  text-align: center;
}

.plan-stat-info-number {
  @include secondary-font(35px);
  font-weight: 100;
  color: white;
}

.plan-stat-info-title {
  @include secondary-font(15px);
  font-weight: 500;
  color: white;
}

.plan-stat-border {
  height: 100%;
  background-color: white;
  width: 1px;
}

.plan-creator {
  @include primary-font(15px);
  padding: 0 0 10px 25px;
  color: $secondary;
}

.plan-cta {
  @include display(flex);
  @include align-items(center);
  height: 50px;
  border-top: 1px solid $secondary;

  .plan-title {
    width: 80%;
    padding-left: 25px;
    @include primary-font(18px);

    a {
      color: $midnight;
      text-decoration: none;
    }
  }

  .plan-follow-button {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include primary-font(18px);
    background-color: $primary;
    width: 20%;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 0 20px;

    &:hover {
      background-color: rgba(0, 222, 97, 0.8);
    }
  }

  .unfollow-button {
    background-color: white;
    color: $midnight;

    &:hover {
      background-color: white;
    }
  }
}

@media (max-width: 800px) {
  .plans-container {
    @include flex-direction(column);
  }

  .split-container {
    width: 100%;
  }

  .plan-stat-info-title {
    font-size: 12px;
  }

  .plan-cta {
    .plan-title {
      padding-left: 10px;
    }

    .plan-follow-button {
      width: 30%;
    }
  }
}



// DashBoard
.dashboard-container {
  width: 90%;
  margin: 0 auto;

  a {
    @include primary-font(15px);
    color: $primary;
    text-decoration: underline;
  }
}
table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    @include secondary-font(15px);

    a {
      color: $primary;
      text-decoration: underline;
    }
}

td, th {
  padding: 15px;
  max-width: 200px;
}

table {
  width: 100%;
  margin: 0 auto;
}
