.set-header {
  width: 100%;
  background-color: $primary;
  color: white;
    padding: 25px 0px;
}

.set-workout-name {
  @include primary-font(25px);
  color: white;
  text-decoration: underline;
  display: block;
  margin-bottom: 5px;
  padding-left: 25px;
}

.set-workout-info {
  @include primary-font(18px);
  color: white;
  padding-left: 25px;
}

.set-box-container {
  padding: 25px;
  max-width: 600px;
  margin: auto;
}

.set-box {
  @include primary-font(22px);
  @include display(flex);
  @include flex-direction(row);
  border-top: 1px solid $secondary;
  border-right: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  border-left: 5px solid $secondary;
  margin-top: 25px;
  cursor: pointer;
}

.completed {
  border-left: 5px solid $primary;
}

.set-box-left {
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  padding: 25px;
  width: 70%;
}

.set-amount {
  font-size: 27px;
}

.set-name {
  padding-left: 25px;
}

.set-complete {
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  font-size: 25px;
  border-left: 1px solid $secondary;
  width: 30%;
  color: $secondary;
}

.set-completed {
  color: $primary;
}

.set-button-container {
  padding: 0 25px 25px;
}

.set-button {
  background-color: $secondary;
  padding: 25px 0;
  text-align: center;
  @include primary-font(22px);
  color: white;
  max-width: 600px;
  margin: auto;
  display: none;
}

.set-button-completed {
  background-color: $primary;
}

.overlay-active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .92);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);

}
.overlay-inactive {
visibility: hidden;
opacity: 0;
display: none;
}

.popup {
  margin:auto;
  padding: 20px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  max-width: 450px;
}

.popup-close {
  font-size: 45px;
  cursor: pointer;
}

.popup-content {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}

.popup-amount {
  @include secondary-font(150px);
  font-weight: lighter;
  color: #333;
  margin: 0px;
}

.popup-reps {
  @include secondary-font(30px);
  color: $primary;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.popup-name {
  @include secondary-font(22px);
  text-transform: capitalize;
}

.popup-description {
  padding-top: 25px;
  @include secondary-font(18px);
  font-style: italic;
  color: #333;
  text-align: center;
}
